Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Right
IndentCaseLabels: true
IndentCaseBlocks: true
IndentPPDirectives: AfterHash
AllowShortIfStatementsOnASingleLine: false
