Language: Cpp
BasedOnStyle: LLVM

AlignAfterOpenBracket: Align
PointerAlignment: Left
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignEscapedNewlines: Left

IndentWidth: 4
IndentCaseLabels: true
IndentCaseBlocks: true
IndentPPDirectives: AfterHash

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortEnumsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true

InsertBraces: true
